@-webkit-keyframes bg-scrolling-reverse {
  100% { background-position: 48px 48px }
}
@-moz-keyframes    bg-scrolling-reverse {
  100% { background-position: 48px 48px }
}
@-o-keyframes      bg-scrolling-reverse {
  100% { background-position: 48px 48px }
}
@keyframes         bg-scrolling-reverse {
  100% { background-position: 48px 48px }
}

@-webkit-keyframes bg-scrolling {
  0% { background-position: 48px 48px }
}
@-moz-keyframes    bg-scrolling {
  0% { background-position: 48px 48px }
}
@-o-keyframes      bg-scrolling {
  0% { background-position: 48px 48px; }
}
@keyframes         bg-scrolling {
  0% { background-position: 48px 48px }
}

/* Main styles */
.animationbg {
  /* img size is 48x48 */
  
  background-image: url("/images/animation.png");
  background-repeat: repeat;

  -webkit-animation: bg-scrolling-reverse .92s infinite; /* Safari 4+ */
  -moz-animation:    bg-scrolling-reverse .92s infinite; /* Fx 5+ */
  -o-animation:      bg-scrolling-reverse .92s infinite; /* Opera 12+ */
  animation:         bg-scrolling-reverse .92s infinite; /* IE 10+ */
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function:    linear;
  -o-animation-timing-function:      linear;
  animation-timing-function:         linear;
  
}