

audio::-webkit-media-controls-panel {
    background-color: #ffffff;
  }

.project-button:hover{
    background-color: #27374de0;
    
}

.project-button{
    background-color:#27374D;
    min-height:"16px";
}

@media ( min-width:280px) and (max-width: 480px) {

    .project-links{
        flex-direction: column;
        gap: 5px;
        align-items: center;
    }
}